@media screen and (max-width: 400px){
    .title{
        position: static;
    }
    .schedule{
        margin-left: 10%;
        margin-right: 10%;
    }
    .introduction{
        margin-left: 5%;
        margin-right: 5%;
        padding: 5%;
    }
    .article, p{
        text-align: center;
    }
    .event1{
        text-align: center;
        background-color: plum;
        padding: 20%
    }
    .event2{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding: 20%
    }
    .event3{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding: 20%
    }
    .event4{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding: 20%
    }
    .event5{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding: 20%
    }
    .event6{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding: 20%
    }
    .event7{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding: 20%
    }
    .event8{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding: 20%
    }
    .event9{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding: 20%
    }
}
@media screen and (min-width: 1000px){
    .title{
        position: sticky;
    }
    .schedule, p{
        margin-left: 10%;
        margin-right: 10%;
    }
    .introduction{
        margin-left: 10%;
        margin-right: 10%;
        padding: 2%;
    }
    .event1{
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event2{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event3{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event4{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event5{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event6{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event7{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event8{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event9{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
}
@media screen and (min-width: 401px) and (max-width: 999px){
    .title{
        position: sticky;
    }
    .schedule, p{
        margin-left: 10%;
        margin-right: 10%;
    }
    .introduction{
        margin-left: 10%;
        margin-right: 10%;
        padding: 3%;
    }
    .event1{
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event2{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event3{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event4{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event5{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event6{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event7{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event8{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
    .event9{
        margin-top: 5%;
        text-align: center;
        background-color: plum;
        padding-top: 3%;
        padding-bottom: 10%;
    }
}
.schedule{
    text-align: center;
    align-content: center;

}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    background-color: palevioletred;
}

h1{
    text-align: center;
    padding: .3em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.title{
    background-color: lightpink;
    border-style: solid;
    border-color: black;
    top: 0;

}
.introduction{
    font-style: italic;
    background-color: plum;
    border-style: dotted;
    border-color: black;
}
.article, h2{
    text-align: center;
    border: .2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;

}
.article, h3{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
.article, ul{
    list-style: none;
    display: contents;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.article, p{
    font-style: normal;
    text-align: left;
}


 /* WA 12 */




 *,
 *::before,
 *::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
 }
 
 
 .app {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 600px;
   background-color: white;
   border-radius: 5px;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
 }
 
 header {
   width: 100%;
   font-size: 30px;
   text-align: center;
   padding: 10px;
   border-bottom: 1px solid #ebebeb;
 }
 
 .quotes {
   padding: 20px 50px;
   min-height: 200px;
 }
 
 .quote-text {
   padding-bottom: 20px;
   font-size: 25px;
   color: black;
 }
 
 .controls {
   width: 100%;
   padding: 20px 50px;
 }
 
 .button {
   display: block;
   color: white;
   border-radius: 4px;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   text-align: center;
   align-content: center;
   width: 100%;
   font-size: 20px;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    align-items: center;
}
 
 .twitter {
   background-color: #1da1f2;
   text-decoration: none;
 }
 
 .twitter:hover {
   background-color: #1e7fbb;
 }
 
 .new-quote {
   background-color: #4A2B0F;
   margin-bottom: 15px;

 }
 
 .new-quote:hover {
   background-color: #6d3b0e;
 }
 
 .new-quote:disabled {
   background-color: #cccccc;
   color: #666666;
   cursor: not-allowed;
 }
 
 @media screen and (max-width: 600px) {
   .app {
     width: 100%;
   }
   .quote-text {
     font-size: 18px;
   }
 }
